.main-container {
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 1248px;
}
