.scroll-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
    padding: 10px;
    width: 100%;     
    box-sizing: border-box;
    margin-bottom: 250px;
}

.simItemsHeading {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 47px;
}

.simItemsHeading_dark {
    color: #FFFFFF;
}

.itemsContainer {
    flex: 0 0 auto;  
    margin-right: 54px; 
}

.itemsContainer img {
    width: 380px;
    height: 380px;
    border-radius: 8px;
    margin-bottom: 24px;
    display: block;
}

.itemsHead {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 16px;
}

.itemsHead_dark {
    color: #FFFFFF;
}

.itemsPrice {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #A18A68;
}

@media all and (max-width: 800px) {
    .main-scroll-container {
        width: 750px;
    }

    .scroll-container {
        width: 90%;
        margin: 40px auto;
    }

    .itemsContainer {
        margin-right: 20px; 
    }
    
    .itemsContainer img {
        width: 250px; 
        height: 250px;
    }
}

@media all and (max-width: 500px) {
    .main-scroll-container {
        width: 450px;
    }

    .scroll-container {
        width: 70%;
        margin: 10px;
    }

    .itemsContainer {
        margin-right: 10px; 
    }

    .itemsContainer img {
        width: 150px; 
        height: 150px;
    }

    .itemsHead {
        font-size: 14px;
    }

    .itemsPrice {
        font-size: 13px;
    }
}