.nav-container {
    padding: 0 96px;
}

.navigation {
    min-height: 42px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-menu {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 40.5px;
    color: #000000;
    
    span {
        color: #A18A68;
    }
}

.menu-link {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
    margin-left: 64px;
}

.menu-link:focus {
    border-bottom: 2px solid #000000;
}

.nav-container_dark {
    background-color: #272727;
}

.logo-menu_dark, .menu-link_dark {
    color: #FFFFFF;
}

.menu-link_dark:focus {
    border-bottom: 2px solid #FFFFFF;
}

@media all and (max-width: 800px) {
    .nav-container {
        padding: 0 24px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-link {
        margin-left: 0;
        padding-right: 24px;
    }

    .menu-link:focus {
        border-bottom: none;
    }

    .menu-link_dark:focus {
        border-bottom: none;
    }
}
