.heading-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 33px;
    line-height: 42.97px;
    color: #000000;
    text-align: center;
    margin-top: 96px;
}

.heading-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #7F7F7F;
    text-align: center;

    span {
        color: #000000;
    }
}

.main-head-pic {
    width: 1248px;
    height: 646px;
    margin-top: 39px;
    border-radius: 8px;
    margin-bottom: 64px;
}

.heading-title_dark {
    color: #FFFFFF;
}

.heading-text_dark {
    span {
        color: #FFFFFF;
    }
}

@media all and (max-width: 800px) {
    .main-head-pic {
        width: 750px;
        height: 348px;
    }
}

@media all and (max-width: 500px) {
    .heading-title {
        font-size: 23px;
    }

    .main-head-pic {
        width: 380px;
        height: 248px;
    }
}