.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
}

.shop-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 86px 54px;
    margin-bottom: 250px;
}   

.shop-title_dark {
    color: #FBFBFB;
}

.shop-title_light {
    color: #000000;
}

@media all and (max-width: 800px) {
    .title-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .items-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px 0; 
        margin-bottom: 70px;
    }
}