.btnTabs {
    display: flex;
    margin-bottom: 73px;
}

.buttonTab {
    margin-right: 96px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: none;
    border: none;
    color: #707070;
}

.buttonTab:focus {
    border-bottom: 2px solid #000000;
    color: #000000;
}

.buttonTab_dark:focus {
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.tabInfo {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    line-height: 27px;
    margin-bottom: 96px;
}

@media all and (max-width: 800px) {
    .btnTabs {
        flex-direction: column;
        margin-top: 28px;
    }

    .tabInfo-sm {
        width: 550px;
    }
}

@media all and (max-width: 500px) {
    .tabInfo-sm {
        width: 330px;
        display: flex;
        align-self: flex-start;
    }

    .tabInfo {
        font-size: 12px;
        margin-bottom: 66px;
    }

    .btnTabs {
        align-self: flex-start;
    }
}