.mainContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
    
.innerContainer {
    width: 1248px;
}

hr {
    border: 1px solid #D8D8D8;
}

.mainContainer_dark {
    background-color: #272727;
}

@media all and (max-width: 800px) {
    .innerContainer {
        width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr {
        display: none;
    }
}