.extra-info-container {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 32px;
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 156px;
    height: 19px;
    margin-bottom: 32px;
}

.extra-text_dark {
    color: #FFFFFF;
}

@media all and (max-width: 800px) {
    .extra-info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .extra-text {
        font-size: 12px;
    }
}

