.buttons-container {
    display: flex;
}

.shop-button {
    color: #A18A68;
    background: none;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    padding-left: 30px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}

.shop-button.active {
    opacity: 1;
}

@media all and (max-width: 800px) {
    .shop-button {
        padding-left: 6px;
    }
}

@media all and (max-width: 500px) {
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}